body{
padding: 0%;
margin: 0%;
background-color:#0D3B66;
font-size: 1em;
font-family: 'Times New Roman', Times, serif;
}

h1,h2,h3,h4,h5,h6,ul,li,a,blockquote{
padding: 0%;
margin: 0%;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align:center;
}

header{
   background-color:#F4D35E;
   text-align: center;
   padding: 0%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 20% 20%;
}

nav{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.25em;
font-weight: bold;
text-align: center;
margin-top: -1.5em ;
}

a :hover{
color:#FAF0CA;
text-decoration: underline;
}


#container{
   text-align:center;
   font-size:5em;
   padding:0%;
}
}

table{
    border: 0.1em solid #FAF0CA;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.hNav {

	padding: 0%;
}

.hNav ul {
    display: block;
    padding-left: 150px;
}

.hNav ul li {
    display: inline-block;
    list-style: none;
}

.hNav a {
    color:#E4F2EA;
    font-size: 1.7em;
    padding: 0 1.3em;
    text-decoration: none;
}

.hNav a:hover {
    color: #734F2F;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

span {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(gold, gold);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
   transition: background-size .7s, background-position .5s ease-in-out;
}

span:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
	float:top;
}
